// colors

$lightFontColor: white;
$lightIconColor: #c8ece9;
$secondaryColor: #21b2a6;
$lightSecondaryColor: #c8ece9;
$CTAButtonColor: $secondaryColor;
$seattleGray: #848688;

// padding & margin
$tinyPadding: 5px;
$smPadding: 10px;
$stdPadding: 20px;

// breakpts

$mobile: 400px;
$tablet: 800px;
