// colors

$lightFontColor: white;
$lightColor: #c8ece9;
$lightIconColor: $lightColor;
$secondaryColor: #21b2a6;
$CTAButtonColor: $secondaryColor;
$seattleGray: #848688;
$alert: #ed4933;

// padding & margin
$tinyPadding: 5px;
$smPadding: 10px;
$stdPadding: 20px;
$lgPadding: 30px;

// misc

$thinSectionDivider: 2px solid rgba($seattleGray, 0.1);
$sectionDivider: 5px solid rgba($seattleGray, 0.1);

// breakpts

$mobile: 400px;
$tablet: 800px;

:export {
  seattleGray: $seattleGray;
  secondaryColor: $secondaryColor;
  alert: $alert;
}
