@use "variables.module";
@use "mixins.module";

.cta-button {
  background-color: variables.$CTAButtonColor;
  padding: 5px 20px;
  color: variables.$lightFontColor;
  border-radius: 5px;
  text-transform: uppercase;
}

.cta-button:hover {
  background-color: rgba(variables.$seattleGray, 0.65);
}

.cta-button:hover.dark {
  background-color: rgba(variables.$secondaryColor, 0.5);
}
