@use "../variables.module";
@use "../mixins.module";

.case-study-container {
  h1 {
    border-bottom: 2px solid variables.$secondaryColor;
    padding-bottom: variables.$tinyPadding;
    margin-bottom: variables.$smPadding;
  }

  h3 {
    margin-bottom: variables.$tinyPadding;
  }
}

.team,
.details {
  label {
    margin-right: variables.$smPadding;
  }
}

.project-section {
  padding: variables.$smPadding 0;
  border-bottom: variables.$sectionDivider;

  p {
    margin-bottom: variables.$stdPadding;
  }

  label {
    color: variables.$secondaryColor;
  }

  // Research Layout

  ul.learnings,
  ul.success {
    list-style-type: square;
    margin-inline-end: variables.$tinyPadding;
    padding-inline-start: variables.$stdPadding;

    li {
      margin-bottom: -10px;
    }
  }

  .success-yes {
    margin-bottom: 0;
  }
  // --------- End Research Layout
}

.slidedeck {
  margin-bottom: variables.$stdPadding;
}

.impact {
  > * {
    @include mixins.row-start;
  }
}
