@use '../variables.module';
@use '../mixins.module';

.case-study-container {
  h1 {
    border-bottom: 2px solid variables.$secondaryColor;
    padding-bottom: variables.$tinyPadding;
    margin-bottom: variables.$smPadding;
  }

  h3 {
    margin-bottom: variables.$tinyPadding;
  }
}
.main-project-image {
  margin: variables.$stdPadding 0;
}

.project-section:last-child {
  border: none;
}

.team,
.details {
  .label {
    margin-right: variables.$smPadding;
  }
}

.project-section {
  padding: variables.$smPadding 0;
  border-bottom: variables.$sectionDivider;

  p {
    margin-bottom: variables.$stdPadding;
  }

  .label {
    color: variables.$secondaryColor;
  }

  // Research Layout

  ul.must-haves,
  ul.learnings,
  ul.success,
  ul.painpoints,
  .key-takeaways {
    @include mixins.ul-sq;
  }

  .success-yes {
    margin-bottom: 0;
  }

  // --------- End Research Layout
}

.slidedeck {
  margin-bottom: variables.$stdPadding;
}

.impact {
  > * {
    @include mixins.row-start;
  }
}

@media (max-width: variables.$mobile) {
  .project-step {
    padding-bottom: variables.$tinyPadding;
  }
}

// Icons

.icon-align-center.small-icon {
  position: relative;
  top: variables.$smPadding;
  margin: 0 variables.$tinyPadding;
}
// --------- End Icons
