// colors

$primaryColor: #21272d;
$secondaryColor: #21b2a6;
$offWhite: #faf9f6;
$lightFontColor: $offWhite;
$fontColor: $primaryColor;
$lightColor: #c8ece9;
$lightIconColor: $lightColor;
$CTAButtonColor: $secondaryColor;
$seattleGray: #848688;
$alert: #ed4933;

// hover styles
$linkHover: rgba($secondaryColor, 0.7);
$lightLinkHover: rgba($lightIconColor, 0.5);
$lightBorderHover: 1px solid $lightIconColor;

// padding & margin
$tinyPadding: 5px;
$smPadding: 10px;
$stdPadding: 20px;
$lgPadding: 30px;

// misc
$thinSectionDivider: 2px solid rgba($seattleGray, 0.1);
$sectionDivider: 5px solid rgba($seattleGray, 0.1);

// breakpts - or MUI?
$mobile: 400px;
$tablet: 800px;

:export {
  seattleGray: $seattleGray;
  secondaryColor: $secondaryColor;
  alert: $alert;
}
