@use "variables.module";
@use "mixins.module";

// about page

.about-banner {
  @include mixins.row-center;

  > * {
    padding: 0 30px;
  }
}

.about-picture {
  position: relative;
  background-image: url("../assets/may-mtn.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 300px;
  width: 250px;
  height: 300px;
  border-radius: 20px;
}

.quote {
  position: relative;
  color: variables.$seattleGray;
  font-style: italic;
  max-width: 60%;
}

.quoter {
  position: absolute;
  right: 100px;
}

.may-gallery {
  @include mixins.col-center;
}

.gallery-card-container {
  position: relative;
  width: 250px;
  height: 250px;
}

.gallery-image {
  width: 100%;
  height: auto;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.image-info {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  @include mixins.col-center;
  background-color: rgba(variables.$seattleGray, 0.2);
  padding: variables.$smPadding;
}

.gallery-card-container:hover .gallery-image {
  opacity: 0.3;
  cursor: pointer;
}

.gallery-card-container:hover .image-info {
  opacity: 1;
  cursor: pointer;
}
