@use 'variables.module';
@use 'mixins.module';

// about page

.about-banner {
  height: 350px;
  width: 100%;
  margin: 0;

  @media (max-width: variables.$mobile) {
    height: 450px;
  }
}

.about-section {
  padding: variables.$stdPadding 0;
  border-bottom: variables.$sectionDivider;
}

.about-section:last-child {
  border: none;
}

.about-picture {
  position: relative;
  background-image: url('../assets/may-mtn.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 300px;
  max-height: 325px;
  height: 100%;
  border-radius: 50%;
}

.quote {
  position: relative;
  color: variables.$seattleGray;
  font-style: italic;
  max-width: 60%;
}

@media (max-width: variables.$mobile) {
  .quote {
    max-width: 100%;
  }
}

.story {
  > * {
    padding: variables.$smPadding 0;
  }
}

.hobbies {
  @include mixins.ul-sq;
}

// Image galleries

.hobby-gallery,
.may-gallery {
  @include mixins.row-center;

  > * {
    margin: 2px;
  }
}

.may-gallery {
  @media (max-width: variables.$mobile) {
  }
}

.support-network {
  > * {
    padding: variables.$tinyPadding 0;
  }
}

.gallery-card-container {
  position: relative;
  width: 250px;
  height: 250px;

  @media (max-width: variables.$mobile) {
    width: 150px;
    height: 150px;
  }
}

.gallery-image {
  width: 100%;
  height: auto;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.image-info {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  @include mixins.col-center;
  background-color: rgba(variables.$seattleGray, 0.2);
  padding: variables.$smPadding;
}

.gallery-card-container:hover .gallery-image {
  opacity: 0.3;
}

.gallery-card-container:hover .image-info {
  opacity: 1;
}
