@use "variables.module";
@use "mixins.module";

.cta-button {
  background-color: variables.$CTAButtonColor;
  padding: 5px 20px;
  color: variables.$lightFontColor;
  border-radius: 5px;
  text-transform: uppercase;
}

.cta-button:hover {
  background-color: rgba(variables.$secondaryColor, 0.5);
}

.external-link {
  border: 1px solid transparent;
  border-bottom: 1px solid variables.$lightColor;
}

.external-link:hover {
  color: rgba(variables.$secondaryColor, 0.75);
}
