@use "variables.module";
@use "mixins.module";

.container {
  min-height: calc(100vh - 150px);
  color: variables.$primaryColor;
}

.relative-to-header {
  position: relative;
  top: 80px;
}

.section {
  position: relative;
  padding: variables.$stdPadding 0;
  border-bottom: variables.$sectionDivider;

  h2 {
    margin-bottom: variables.$smPadding;
  }
}

// header
.header-container {
  position: fixed;
  background-color: variables.$offWhite;
  z-index: 100;
  width: 100%;
  top: 0;
  @include mixins.row-between;
  height: 90px;
}

.navbar {
  @include mixins.row-around;
  position: absolute;
  right: 0;
  padding: variables.$smPadding;
  width: 100%;
  max-width: 50%;

  > *:hover {
    color: variables.$secondaryColor;
    border-bottom: 2px solid variables.$lightColor;
  }
}

// footer

.footer-container {
  position: relative;
  bottom: 0;
  @include mixins.row-center;
  min-height: 90px;
  background-color: variables.$offWhite;
}

.copyright {
  position: absolute;
  right: 10px;
  bottom: variables.$smPadding;
  font-size: 0.75rem;
}

@media (max-width: variables.$mobile) {
  .footer-container {
    @include mixins.col-center;
  }

  .copyright {
    position: static;
  }
}
