@use 'variables.module';
@use 'mixins.module';

/* Sections on the homepage after the hero */

// about section
.past-self {
  @include mixins.row-center;
}

.past-roles {
  @include mixins.row-between;
  width: 100%;
  max-width: 70%;

  li {
    color: variables.$seattleGray;
    font-style: italic;
  }

  h2 {
    color: variables.$secondaryColor;
  }
}

@media (max-width: variables.$mobile) {
  .past-roles {
    @include mixins.col-center;
    > * {
      padding: variables.$tinyPadding;
    }
  }
}

.mini-bio,
.contact,
.fun-facts {
  .icon {
    position: relative;
    top: 8px;
    height: 1.5rem;
    margin: 2px;
  }

  > * {
    margin: variables.$stdPadding;
    margin-top: 0;
  }
}

.fun-facts {
  margin-bottom: 0;
}

.learn-more-cta {
  margin-top: variables.$stdPadding;
}
//------- End of About Section

// projects section
.project-card-container {
  height: 300px;
}
